body > div:nth-child(14) > div > div.col-md-9 > div > form {
	width: 30%;
}

/* Notation éoiles --> avis.php */

.rating {
	width: 226px;
	margin: 0 auto 1em;
	font-size: 35px;
	overflow:hidden;
}
.rating input {
float: right;
opacity: 0;
position: absolute;
}
.rating label {
	padding: 5px;
	float:right;
	color: #aaa;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover	{
	color: orange;
	cursor: pointer;
}



/* Affichage des annonces --> index.php */
body span.btn-affichage {
	height: 33px;
	width: 44px;
	border-radius: 4px;
}

form.form-tri {
	text-align: right;
	margin-bottom: 50px;
	display: flex;
} 

form.form-tri .btn-tri {
	margin-left: 10px;
	height: 34px;
}

body div.image {
	width: 35%;
}

body div.infos {
	width: 65%;
	float: right;
}

body img.vignette {
	height: 150px;
}

body div.cadreAnnonce {
	height: 300px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}